html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.information-wrapper {
  position: relative;
}

.popup {
  position: absolute;
  background: white;
  border: 1px darkgray solid;
  padding: 10px;
  top: 70px;
  left: 0;
}

.test {
  display: none;
}
